* {
  background-color: initial;
}

.infoBlog {
  background: none;
  border: 1px solid white;
  padding: 20px 20px;
  width: 600px;
  z-index: 2;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 35px;
  margin: 50px;
  margin-bottom: 125px;
}
/* faker */

.infoFaker {
  background: none;
  max-width: 90%;
  border: 1px solid white;
  padding: 20px 20px;
  width: 600px;
  z-index: 2;
  position: relative;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fakerGod {
  font-size: 12px;
  text-align: initial;
}
/* s4 */

.infoS4 {
  background: none;
  border: 1px solid white;
  padding: 20px 20px;
  width: 600px;
  z-index: 2;
  position: relative;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textinitial {
  text-align: initial;
}

.s4link {
  display: flex;
  justify-content: center;
  text-align: center;
}
/* anaya */

.infoAnaya {
  background: none;
  border: 1px solid white;
  padding: 20px 20px;
  width: 600px;
  z-index: 2;
  position: relative;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.byox {
  font-size: 12px;
}

/* loveletter */

.infoLoveletter {
  background: none;
  border: 1px solid white;
  padding: 20px 20px;
  width: 600px;
  z-index: 2;
  position: relative;
  top: 62.7%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* overflow: scroll; */
}

.infoLoveletter pre,
code {
  /* letter-spacing: 0.1em;
  text-align: left; */
  font-size: 12px;
  text-align: justify;
}
.pruebaxd {
  position: sticky;
  top: 0;

  z-index: 10;
}

.content {
  overflow-y: auto;

  /* max-height: 400px */
}

.content::-webkit-scrollbar {
  height: 6px;
}

/* rayan */

.infoRayan {
  background: none;
  border: 1px solid white;
  padding: 20px 20px;
  width: 600px;
  z-index: 2;
  position: relative;
  top: 79%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.brayan {
  letter-spacing: -0.01em;
  font-size: 12px;
}
.brayan b {
  letter-spacing: -0.01em;
}

/* arch */

.infoArch {
  background: none;
  border: 1px solid white;
  padding: 20px 20px;
  width: 600px;
  z-index: 2;
  position: relative;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.archbtw {
  /* letter-spacing: 2px; */
  /* text-align: justify;  braahhhhhhhhhh*/
  font-size: 12px;
}
.archbtw b {
  color: aqua;
}

.neofetchArch {
  white-space: pre;
  border: 1px solid white;
  position: relative;
  max-width: 100%;
  margin: 15px auto;
  background-color: #000000;
  color: white;
  /* border-radius: 5px; */
  /* max-width: 90%; */
}

.neofetch-text {
  font-family: "IBM Plex Mono", monospace;
  white-space: pre;
  font-size: 10px;
  position: relative;
  margin: 15px 0px 0px -30px;
  padding: 1px;
  color: white;

  /* text-align: justify; brahhhh */
  height: 346px;
  /* max-width: 90%; */

  letter-spacing: 1px;
}

.date {
  font-size: 10px;
  line-height: 0px;
  margin: 0px;
}
.author {
  font-size: 14px;
  line-height: 40px;
  padding-bottom: 5px;
  margin: 0px;
}
.title {
  padding-bottom: 0px;
  font-size: 15px;
}
.title,
.author,
.date {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

h5 {
  text-align: center;
  color: white;
}

.footerBlog {
  position: relative;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 10px;
  padding: 10px;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .info-container {
    margin: 20px;
    /* gap: 20px; */
  }

  @media (max-width: 900px) {
    .infoBlog {
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100px;
      /* width: 350px; */
      max-width: 85%;
    }
    .infoFaker {
      overflow: auto;
      position: absolute;
      top: 64%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 85%;
      max-height: 71%;
      padding: 15px;
    }

    .infoS4 {
      position: absolute;
      top: 160%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 90%;
      padding: 15px;
    }

    .infoAnaya {
      position: absolute;
      top: 250%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 90%;
      padding: 15px;
    }

    .infoLoveletter {
      position: absolute;
      top: 300%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 90%;
      padding: 15px;
    }

    .infoRayan {
      position: absolute;
      top: 280%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 90%;
      padding: 15px;
    }

    .infoArch {
      position: absolute;
      top: 340%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 90%;
      padding: 15px;
    }
  }

  .fakerGod {
    font-size: 10px;
  }
}
@media (max-width: 411px) {
  .infoBlog {
    max-width: 351px;
  }
  .infoFaker {
    max-width: 351px;
    overflow: auto;
  }

  .infoS4,
  .infoAnaya {
    max-width: 351px;
  }
}
